.vscode
.ipynb_checkpoints
ideas.py
DeepLearning_ML_Fundamentals/Notes/figures

DeepLearning_ML_Fundamentals/Notes/*.aux
DeepLearning_ML_Fundamentals/Notes/*.fdb_latexmk
DeepLearning_ML_Fundamentals/Notes/*.fls
DeepLearning_ML_Fundamentals/Notes/*.log
DeepLearning_ML_Fundamentals/Notes/*.synctex.gz
DeepLearning_ML_Fundamentals/Notes/*.toc

**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.synctex.gz
**/*.toc
